@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #021b1d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: #549ea3;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185,0.5),
     0 15px 40px rgba(166, 173, 201,0.2);
}

.user-form input::placeholder{
    color: #fff;
}

.user-form input:focus{
    outline: none;
}

.card{
    max-width: 800px;
    background-color: #549ea3;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185,0.5),
    0 15px 40px rgba(166, 173, 201,0.2);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 0% 100% 100% 100% / 3% 100% 100% 100%  ;
    border: 10px solid #0d6369;
}

.user-info{
    margin-left: 2rem;
    color: #fff;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #549ea3;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display:inline-block;
}

@media(max-width:500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .avatar{
        margin-bottom: 1rem;
    }

    .user-form{
        max-width: 400px;
    }

    .user-info{
        text-align: center;
    }
}