@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200&display=swap');


:root{
    --primary-color:#22254b;
    --secondary-color:#5a61a6;
}


*{
    box-sizing: border-box;
}

body{
    background-color:var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
.search::placeholder{
    color: #7378c5;
}
.search:focus{
    outline: none;
    background-color:var(--primary-color);
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba( 0, 0, 0, 0.2) ;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

}

.movie-info h3{
    margin-top: 10px;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: rgb(226, 237, 247);
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

.wrap {
    margin: 1rem;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
 
  .movie::before,
  .movie::after {
    content: "";
    width: 6em;
    height: 2rem;
    border: 1px solid #fff;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    transition: .3s ease;
  }
  
  .movie::before {
    top: 1rem;
    right: 1rem;
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .movie::after {
    bottom: 1rem;
    left: 1rem;
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .movie--active {
    transition: none;
  }
  
  .wrap:hover .movie::before,
  .wrap:hover .movie::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }


